<?xml version="1.0" encoding="UTF-8" ?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
	<display-name>Web Application from Archetype for Servlet 3.1</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>FileUpload</servlet-name>
		<servlet-class>FileUpload</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FileUpload</servlet-name>
		<url-pattern>/FileUpload</url-pattern>
	</servlet-mapping>


	<!-- <servlet>	//this config  : but, can this be a dinamic value?!
		<init-param>
			<param-name>name</param-name>
			<param-value></param-value>
		</init-param>
	</servlet>

	<context-param> //this context
		<param-name>Name</param-name>
		<param-value></param-value>
	</context-param> -->

</web-app>