/* RESET */
* {
margin: 0;
padding: 0;
border: 0;
box-sizing: border-box;
text-decoration: none;
}

/* General Styles */
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh; /* view port */
    color: #1a1a1a;
    font-size: 16px;
    font-family: 'PT Sans', sans-serif;
}

h1 {
    font-family: 'Parisienne', cursive;
}

h2{
    font-weight: 400;
}

input { 
    width: 100%;
    border: none;
    color: #757575;
    outline: none;
    font-size: 24px;
    
}

.button {
    padding: 4px 16px;
    background-color: #f9ba48;
    color: #ffffff;
    cursor: pointer;
    border-radius: 16px;
}


.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    margin: 0 auto;
}

/*  Header Section */

.header{ 
    padding: 24px;
}

.header-logo{
    display: flex;
    align-items: center;
}

.header-logo-img {
    width: 80px;

}

.header-logo-text {
    font-size: 28px;
    margin-left: 16px;
}

.header-nav a {
    columns: #1a1a1a;
    font-size: 24px;
    margin-left: 32px;
}

/*  Main Section */

.main{ }

.main-left { 
    width: 60%;
}

.main-left-small {
    font-family: 'Parisienne', cursiva;
    font-size: 32px;
}

.main-left-title {
    font-size:  64px;
    margin-left: 15%;

}

.main-right {
    width: 40%;
    padding: 24px;
    text-align: left;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    border-radius: 16px;
}

.main-right-title {
    font-size: 32px;
    margin-bottom: 24px;
}

.main-right-input {
    display: block;
    margin-bottom: 16px;
    border-bottom: 1px solid #1a1a1a;
}

.main-right-text {
    display: block;
    font-size: 14px;
    margin-bottom: 16px;
}

.main-right-text a{
    color: #f9ba48;
    font-weight: 800;
}

/* Footer Section */

.footer{
    padding: 28px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #f9ba48;
    display: flex;
}

.footer-left {

}

.footer-left a {
    color: #ffffff;
    font-size: 20px;
    margin-right: 20px;
    font-weight: 800;
}

.footer-right { 
    margin-right: 32px;
}

.footer-right-icon { 
    margin-left: 42px;

}