<div class="controller">
    <div class="data">
        <div style="display: flex;">
            <form th:action="UserDate" method="POST" style="display: flex;">
                <input id="date" type="date" name="DATE" placeholder="${session.DATE}" th:value="${session.DATE}"
                    class="form-control" style="min-width: 250px">
                <button type="submit" class="btn btn-primary">OK</button>
            </form>
            <form action="Login" method="POST">
                <button type="submit" class="btn btn-info">Data atual</button>
            </form>
        </div>
    </div>

    <div class="cadastro" style="padding-right: 10px;">
        <form th:action="SistemaCadastro" method="POST">
            <button type="submit" class="btn btn-primary btn-lg" style="width: 208px;">Cadastros</button>
        </form>
    </div>
</div>